/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative; /* Add your preferred font */
}

.app-container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  height: 100vh; /* Make sure it takes the full viewport height */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Adjust to your color preference */
  color: white;
  padding: 10px 0;
  z-index: 1000; /* Ensure it stays on top */
}
.sidebar {
  position: fixed;
  top: 140px;
  width: 200px;
  left: 0;
  height: 100vh;
  background-color: #0b192c; /* Adjust to your color preference */
  color: white;
  padding: 10px 0;
  z-index: 1000;
}
.side-links {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  background-color: #0b192c;
  border: 2px solid #ddd;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  flex: 1;
  margin-top: 100px;
  width: 90%;
  margin-left: 10%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f8f9fa;
}
